In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("classroomDB.db")
connection.close()

In [10]:
# open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()

#query for creating table
create_table = """
                CREATE TABLE classroom (
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics_marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                );"""
cursor.execute(create_table)
connection.commit()
connection.close()

In [22]:
#sample data

classroom_data = [( 1, "Raj", "M", 70, 84, 92), 
                  ( 2, "Poonam", "F", 87, 69, 93),
                  ( 3, "Nik", "M", 65, 83, 90),
                  ( 4, "Rahul", "F", 83, 76, 89)]

# open connection
connection = sqlite3.connect ("classroomDB.db")
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks) 
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], student[3], student[4], student[5])

    #execute insert query
    cursor.execute(insert_statement)
# commit the changes
connection.commit()
# close the connection
connection.close()

In [25]:
# open connection
connection = sqlite3.connect ("classroomDB.db")
# open cursor
cursor = connection.cursor()
# query
query = "SELECT * FROM classroom"
# execute query
cursor.execute(query)
#fetch results
result = cursor.fetchall()
#print results
for row in result:
    print(row)
# close connection 
connection.close()

(1, 'Raj', 'M', 70, 84, 92)
(2, 'Poonam', 'F', 87, 69, 93)
(3, 'Nik', 'M', 65, 83, 90)
(4, 'Rahul', 'F', 83, 76, 89)
(5, 'Mario', 'M', 90, 94, 92)
(6, 'Flavia', 'F', 95, 97, 99)
(7, 'Juan', 'M', 75, 85, 90)
(8, 'Romina', 'F', 65, 80, 59)

In [24]:
#sample data

classroom_data = [( 5, "Mario", "M", 90, 94, 92), 
                  ( 6, "Flavia", "F", 95, 97, 99),
                  ( 7, "Juan", "M", 75, 85, 90),
                  ( 8, "Romina", "F", 65, 80, 59)]

# open connection
connection = sqlite3.connect ("classroomDB.db")
# open cursor
cursor = connection.cursor()
# insert each student record
for student in classroom_data:
    # formatted query string
    insert_statement = """INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks) 
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(student[0], student[1], student[2], student[3], student[4], student[5])

    #execute insert query
    cursor.execute(insert_statement)
# commit the changes
connection.commit()
# close the connection
connection.close()